<!DOCTYPE html>
<html>
	<head>
		<%include ../partials/head.ejs%>
		<%include ../partials/nav.ejs%>
	</head>
	<body>
		<header>
			<h1><%=plans.planName%></h1>
			<small>customer: <a href="/customers/<%=customers._id%>"><%=customers.firstName%> <%=customers.lastName%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/plans">Financial Plans Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
					Plan Name: <%=plans.planName%><br/>
					Expense Amount: <%=plans.expenseAmount1%><br/>
					Expense Category: <%=plans.expenseCategory1%><br/>
					Expense Amount: <%=plans.expenseAmount2%><br/>
					Expense Category: <%=plans.expenseCategory2%><br/>
					Expense Total: <%=plans.expenseTotal%><br/>
			</section>
			<section>
			    <form action="/plans/<%=plans._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete Financial Plan"/>
			    </form>
			</section>
			<section>
			    <a href="/plans/<%=plans._id%>/edit">Edit</a>
			</section>
		</main>
		<%include ../partials/footer.ejs%>
	</body>
</html>
