<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=plans.planName%></h1>
			<small>by: <a href="/customers/<%=customers._id%>"><%=customers.firstName%> <%=customers.lastName%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/plans">Financial Plans Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				Plan Name: <%=plans.planName%><br/>
				Expense category: <%=plans.expenses[0].expenseCategory%><br/>
				Expense amount: <%=plans.expenses.expenseAmount%><br/>
			</section>
			<section>
			    <form action="/plans/<%=plans._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete Financial Plan"/>
			    </form>
			</section>
			<section>
			    <a href="/plans/<%=plans._id%>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>
